body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 50px;
}


.orange-color{
    color:aquamarine;
}
p{
    text-align: justify;
    padding-bottom: 2%;
}

.anchor-button{
text-decoration: none;
background: linear-gradient(45deg, yellow, tomato);
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
color: white;

}

.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-top: 50px;
    
}

.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}
.dream_big{
    
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.Download_button{
    background: linear-gradient(45deg, yellow, aqua);
    text-decoration: none;
    padding:10px 20px;
    border-radius: 20px;

    
    
}
