body{
    font-family: 'Poppins', sans-serif;
     background-color: bisque;    
}

h1{
    font-weight: 700;
    font-size: 50px;
}


.orange-color{
    color:aquamarine;
}
p{
    text-align: justify;
    padding-bottom: 2%;
}

.anchor-button{
text-decoration: none;
background: linear-gradient(45deg, yellow, tomato);
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
color: white;

}

.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-top: 50px;
    
}

.half-width img{
    width: 100%;
}



.flex{
    height: 500px;
    padding-bottom: 150px;
    display: flex;
}

.Download_button{
    background: linear-gradient(45deg, yellow, aqua);
    text-decoration: none;
    padding:10px 20px;
    border-radius: 20px;

    }

    .experience_item{
        width: 40%;
        height: 70%;
        margin-left: 5%;
        margin-right: 5%;
        box-shadow: 20px -16px teal;
        padding-right: 2%;
        border-radius: 10px;
        background-color: brown;
        padding-left: 5%;
    }


    footer p{
        text-align: center;
    }

    .red_color{
        color:red;
    }